<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <header style="text-align: center">
        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> Hack's TivJob </h1>
        <h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif">The Right Choice for Your Future</h3>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="#">Home</a></h4>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="/about">About</a></h4>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="/contact">Contact</a></h4>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="/signup">Sign Up</a></h4>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="/login">Log In</a></h4>
    </header>
    <br>
        <style>
            table  {
                border-style: solid;
                border-bottom: thick line #ff0000;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 1000px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            }
            table.data{
                border-bottom: none;
                border-top: none;
                border-left: none;
                border-right: none;
                width: 1000px;
                font-family:'Courier New', Courier, monospace
            }
        </style>
</body>
</html>