<form action = "/company/add" method="POST">
    <h5>First Name</h5>
    <input name="first_name" type = "text" placeholder="Please fill your first name">
    <h5>Last Name</h5>
    <input name="last_name" type = "text" placeholder="Please fill your last name">
    <h5>Email</h5>
    <input name="email" type = "text" placeholder="Please fill your email">
    <br>
    <br>
    <input type="submit" value="Add Company" class="button">
</form>