<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGNUP PAGE</title>
</head>
<body>
    <a href="/signup/company">Sign Up as a Company</a>
    <a href="/signup/applicant">Sign Up as an Applicant</a>
</body>
</html>