<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hack's TeveJob</title>
</head>
<body>
    <header style="text-align: center">
        <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> Add Data Company </h1>
        <h4 style="font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif"><a href="/company">Back</a></h4>
    </header>
    <br>
        <style>
            input  {
                border-style: solid;
                border-bottom: thick line #ff0000;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-left: 170px;
                width: 1000px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            h5 {
                padding-left: 170px;
                margin-bottom: 0px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .button{
                width: 200px;
                height: 50px;
                background-color:cornflowerblue;
                border-radius: 10px;
            }
        </style>
    <br>
    <form action = "/company/add" method="POST">
        <h5>Name</h5>
        <input name="name" type = "text" placeholder="Please fill your name / company">
        <h5>Description</h5>
        <input name="deskripsi" type = "text" placeholder="Please fill your description">
        <h5>Job Position</h5>
        <input name="job_position" type = "text" placeholder="Please fill position you want to make / wanted">
        <h5>Salary</h5>
        <input name="salary" type = "text" placeholder="Please fill salary that you want take / give wanted">
        <h5>Password</h5>
        <input name="password" type = "text" placeholder="Please fill password">
        <br>
        <br>
        <input type="submit" value="Add Data" class="button">
    </form>
</body>
</html>